/* GLOBAL */

body { padding-top: 80px; }

.navbar { box-shadow: none; }
.navbar-default .navbar-brand {  background: #C06; color: white; font-size: 24px; text-transform: uppercase; }

.navbar-nav li { border-left: 1px solid #E5E5E5; min-width: 120px; text-decoration: uppercase; font-size: 14px; text-align: center; }
.navbar-nav li:first-child { border: none; }


.footer { text-align: center; padding: 30px; }

.block-image { display: block; width: 100%; }

.gray-border { border: 1px solid #eee; }

/* PHOTOGRAPHY */

.photography .photo { margin-bottom: 10px; }


/* PHOTOGRAPHY */