/* GLOBAL */

.header { background:#291f19; }
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a { color: white; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: white; }

.navbar-default .navbar-toggle .icon-bar { background-color: rgba(255,255,255,0.5); }


.content { padding-top: 70px;  }

.footer { text-align: center; padding: 30px; }

.resume { margin-top: 10px; }

.photoeditor img { display: block; width: 100%; }