---
layout: default
title: Home
type: home
---

<div class='row'>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  	{% for item in site.data.photography %}
		    <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" {% if forloop.first %}class="active"{% endif %}></li>
	    {% endfor %}
	  </ol>
	 
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">

	  	{% for item in site.data.photography %}
	  		<div class="item {% if forloop.first  %}active{% endif %}">
	  			<img src="images/photography/{{ item.photo }}">
	  		</div>	
	  	{% endfor %}

	  </div>
	 
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> <!-- Carousel -->
</div>

<div class='col-md-10'>
	<div class='row'>
	{% for item in site.data.photoediting %}
		{% if forloop.index < 9 %}

		<div class="col-md-3">
	        <div class="panel panel-default">
				<img class='block-image' src='images/photoediting/{{ item.row }}' />				
	        </div>
	    </div>

    		{% endif %}
	{% endfor %}

	</div>
</div>

<div class='col-md-2'>	
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?u=bWVqZW5pYnxpbnwxMjV8MXwzfHx5ZXN8NXxub25lfG9uU3RhcnR8bm98eWVz&ve=170914" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>


